body{
    text-align: center;
}
section{
    display:inline-block;
    margin:20px;
    text-align: center;
}
ul{
    border:10px solid black;
    list-style-type: square;
    text-align:left;
    padding:20px 40px;
}
li:first-child{
    color:red;
}
li:nth-child(3){
    color:green;
}
ol{
    list-style-type:upper-roman ;
    border:10px solid black;
    text-align:left;
    padding:25px 40px;
}
}