
header{
    text-align:center;
    padding:50px 2em 20px 2em;
    background:linear-gradient( #b1d814,#61d6fa 70%); 
  

}
h1{
    font-size: 35px;
    color:rgb(109, 63, 236);
    text-shadow: 1px 1px white, -1px -1px #444;
    padding:10px  30px;
    margin:20px;
    
    
}
.welcome{
    display:inline-block;
    color:rgb(200, 36, 241);
    background:linear-gradient(#e7eed5 20%, #56adc5 100%); 
    margin-bottom:10px;
    padding:5px 10px;

}

body {
    background:linear-gradient(#61d6fa 50%, #b1d814 100%); 
    text-align:left;
 
    padding: 10mm;
    margin: 10mm;
    margin-top: 2px;
}
#login_area{
    padding:20px;
    display:inline-block;
    background:linear-gradient(#e7eed5 20%, #56adc5 100%); 
    font-style:italic;
    font-weight:bold;
  
    text-align:left;

}
#login{
    color:rgb(65, 65, 253);
    font-size:35px;
}
.login{
    
    display:inline-block;
    margin:1px;

  
    color:rgb(124, 74, 136);
    font-size:28px;
    text-align:left;
    
}
.name_box{
    padding-left: 53px;
}
#channel{
    text-align:center;
}

h2 {
    text-align:center;
    
    color: rgb(47, 106, 218);
 
}
h3{
    color:rgb(82, 53, 248);
    text-align:center;
}

p1{
    font-size:10mm;
}

.name{
    display:inline;

}

#address{
    position:relative;
    left:25px;
}
#Age{
    position:relative;
    left:10px;
}
.button{
    font-size:10mm;
}
img {
    height: 250px;
}
