body{
    background-color:rgb(63, 216, 243);
}
.open{
    display:block;
    background-color: rgb(211, 24, 248) ;
}
.close{
    
    /* display:none;*/
    background-color: blue;
}
.body_after_close{
    color:white;
    background-color:rgb(5, 1, 8);
}
.body_after_open{
    background-color: rgb(147, 247, 17);
}